body{
    background-color: rgb(255, 239, 218);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1vw;
    
}

#logo{
    margin: 10px;
    font-family: "fredoka one";
    letter-spacing: 1px;
    display: inline-block;
    width: auto;
    text-shadow: 2px 2px 4px rgba(112, 142, 225, 0.753);
    font-size: 4vw;
    
}

cite{
    display: inline-block;
    width: 80px;
    height: 20px;
}

h2{
    padding: 8px;
}

ul{
    margin: 0px;
    padding-left: 40px;
    padding-bottom: 10px;
}

body > header{
    background-color: rgba(143, 166, 232, 0.664);
    font-size: larger;
    color: white;
}

#main-header {
    display: flex;
    height: 10vw;
    align-items: center;
    justify-content: space-around;

}


body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 10px;
    margin: 20px;
}


.navbutton {
    color: white;
    text-decoration: none;
    padding: 15px;
    
}

body > main article {
    width: 90%;
    margin: auto;
    align-content: center;
    padding: 20px;
}

#main-content {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1.2fr 10fr;  /* Aside takes 1 fraction, main content takes 3 */
    grid-gap: 50px;
    margin: 10px auto;
    grid-template-areas: 
        "aside main";    
}   

#main-content > aside {
    grid-area: aside;
    color: rgba(16, 82, 117, 0.879);
    padding: 10px;
    margin-left: 10px;
    
}


#main-content > div {
    width: 90%;
    text-decoration: none;
    grid-area: main;
}   


article {
    width: 100%;
    margin: auto;
    padding: 40px;
}

#month{
    font-weight: 600;
}

#cud {
    max-width: 100%;
    height: auto;
    display: grid;
    margin: 20px auto; /* Horizontally centers the image */
    align-content: center;
  }

#static {
    max-width: 100%;
    height: auto;
    display: grid;
    margin: 20px auto; /* Horizontally centers the image */
    align-content: center;
}

form {
    padding: 20px;
    background-color: rgba(222, 228, 246, 0.95);
    text-align: center;
}

h2{
    
    text-align: center;
    color: rgb(138, 190, 85);
    font-size: 2vw;
}

h3{
    margin-left: auto;
    font-size: medium;
    color: rgba(16, 82, 117, 0.879);
}

#date{
    margin-left: auto;
    font-size: small;
    color: rgba(16, 82, 117, 0.879);

}


body > footer{
    background-color: rgba(143, 166, 232, 0.664);
    color: white;
    box-shadow: 2px 4px 8px 8px rgba(92, 124, 212, 0.753);
    display: flex;
    align-items: top;
    height: 100px;
    padding: 20px 0;
}

article > footer > img {
    border-radius: 50%;
}

h1{
    text-shadow: 2px 2px rgba(110, 133, 196, 0.788);
    padding-left: 18px;
    font-family: "fredoka one";
    letter-spacing: 1px;
    font-size: 3vw;
}

#footer-ul{
    display: flex;
    list-style: none;
    padding-top: 4px;
}

#footer-ul > div > li {
    margin-left: 15px;
    margin-top: 5px;
}

#footer-ul > div > li > a {
    color: rgba(59, 119, 209, 0.947);
    text-decoration: none;
    font-weight: bold;

}

